
* {
    
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    
}

a {
    color: #333;
    text-decoration: none;
}

#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: white;
}

#navbar ul{
    float: right;
    list-style: none;
}

#navbar li{
    float: left;
}

#navbar li a{
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
}

#navbar li a:hover{
    color: lightblue;
}

img{
    height: 120px;
    width: 120px;
    margin: 20px;
}

#logo{
    float: left;
}

h1{
    text-align: center;
    color: darkslategray;
    font-size: 50px;
    padding:50,0,10,10;
    margin-left: 10px;

}

p{
    text-align: left;
    font-size: 50px;
    padding-top: 50px;
    
}

footer{
    float: down;
    text-align: center;
    padding: 3px;
    background-color: beige;
    color: black;
}
#main-footer{
  text-align: center;  
  background:#444 ;
  color: #fff;
  padding-left: 20px;
}

.fa {
 padding: 20px;
 font-size: 30px;
 width: 50px;
 text-align: right;
 text-decoration: none; 
}












    
