/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

#navbar{
    background: #333;
    position: sticky;
    top: 0;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: white;
}

#navbar ul{
    float: right;
    list-style: none;
}

#navbar li{
    float: left;
}

#navbar li a{
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

#navbar li a:hover{
    color: lightblue;
}

#logo{
    float: left;
}

 img{
    height: 120px;
    width: 120px;
    margin: 20px;
    border-radius: 4px;
}

a{
    color: white;
}

.hero-section Img{
    height: auto;
    width: 100%;
    /* padding-bottom: 50%; */
    margin: 0;
    
}

.hero-copy{
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;}

    
    
    .hero-copy{
        
        font-size: 60px;
        padding-bottom: 65%;
        text-align: center;
        text-shadow: 4px 4px grey;
        }

        .hero-copy p{
            font-size: 50px;
            margin: auto;
            color: white;
            padding-top: 225px;
            float: right;
        }